{% extends "base.html" %} {% block title %}Transactions - BookSwap{% endblock %}
{% load bookswap_tags %}
{% block content %}

<div class="text-center">
  <h2
    class="text-6xl font-semibold inline-block mb-6 px-6 py-2 rounded-xl backdrop-blur-lg"
    style="
      color: #825d3f;
      background-color: rgba(255, 255, 255, 0.4);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    "
  >
    Transactions
  </h2>
</div>

{% for transaction in transactions %}
<a
  href="/library/transactions/{{transaction.id}}"
  class="block p-6 m-6 text-[#825d3f] {% if transaction.transaction_status == 'Pending'%} bg-pink-100 {% elif transaction.transaction_status == 'Accepted'%} bg-green-200 {% else %}bg-red-200{% endif %} border border-amber-400 rounded-xl shadow-lg hover:bg-blue-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-[#825d3f] dark:text-white"
  >
    {{ transaction.transaction_type }} Transaction ({{ transaction.transaction_status }}) 
  </h5>

  {% if transaction.transaction_type == 'Sale' %}
    <p class="font-normal text-[#825d3f]">
      {% if transaction.initiator_member == user %}
        <div>
          You offered to buy:
        </div>
      {% else %}
        <div>
          {{ transaction.initiator_member }} offered to buy the book from you:
        </div>
      {% endif %}
      {% for detail in transaction.transaction_details.all %}
        <div>
          <strong>
            {{ detail.book_listing.library_item.book.title }}
          </strong>
        </div>
      {% endfor %}
    </p>
  {% else %}
    <p class="font-normal text-[#825d3f]">
      <!-- You initiated the swap transaction -->
      {% if transaction.initiator_member == user %}
        {% with initiator_details=transaction.transaction_details.all|get_details_filter_by_from_member:transaction.initiator_member %}
          {% for detail in initiator_details %}
            <p>
              You offered to swap your book listing: {{ detail.book_listing.library_item.book.title }}
            </p>
          {% endfor %}
        {% endwith %}
        <hr class="w-full h-1 mx-auto my-4 bg-gray-500 border-0 rounded-sm my-4">
        {% with receiver_details=transaction.transaction_details.all|get_details_filter_by_from_member:transaction.receiver_member %}
          {% for detail in receiver_details %}
            <p>
              You want to receive the book listing from {{ detail.from_member.full_name }}: {{ detail.book_listing.library_item.book.title }}
            </p>
          {% endfor %}
        {% endwith %}
      {% else %}
        <!-- You did not initiate the swap transaction -->
        {% with receiver_details=transaction.transaction_details.all|get_details_filter_by_from_member:transaction.receiver_member %}
          {% for detail in receiver_details %}
            <p>
              {{ detail.to_member.full_name }} wants to receive your book listing: {{ detail.book_listing.library_item.book.title }}
            </p>
          {% endfor %}
        {% endwith %}
        <hr class="w-full h-1 mx-auto my-4 bg-gray-500 border-0 rounded-sm my-4">
        {% with initiator_details=transaction.transaction_details.all|get_details_filter_by_from_member:transaction.initiator_member %}
          {% for detail in initiator_details %}
            <p>
              {{ detail.from_member.full_name }} wants to give you the book listing: {{ detail.book_listing.library_item.book.title }}
            </p>
          {% endfor %}
        {% endwith %}
      {% endif %}
    </p>

  {% endif %}

  
</a>
{% empty %}
<div class="text-[#825d3f]">No transaction.</div>
{% endfor %} {% endblock %}
