{% extends "base.html" %} {% load bookswap_tags %} {% block title %}
Transaction{% endblock %} {% block content %}

<!-- Display the Listing -->
<div
  class="max-w-full mx-auto bg-amber-50 rounded-xl shadow-md p-6 text-[#825d3f]"
>
  <h2 class="text-2xl font-bold mb-4 flex justify-center">
    <span> {{ transaction.transaction_type }} Transaction </span>
  </h2>
  <div class="p-3 text-center mb-4">
  {% if transaction.transaction_type == 'Sale' %}
  <!-- Sale Transaction -->
    <h3>Details:</h3>
    {% for detail in transaction.transaction_details.all %}
    <div class="bg-amber-50 shadow-lg p-3 rounded-xl">
      <p class="font-bold">{{ detail.book_listing.library_item.book.title }}</p>
      <p class="text-sm text-gray-600">
        Author: {{ detail.book_listing.library_item.book.author }}
      </p>
      <p class="text-md">${{ detail.book_listing.price }}</p>
      <p class="text-md">Shipping Address: {{ detail.shipment.address }}</p>
      <p class="text-md">
        Transfers to member: {{ detail.to_member.full_name }}
      </p>
      <img
        src="{{ detail.book_listing.library_item.book.image_url }}"
        alt="No image"
      />
    </div>
    {% endfor %}
  {% else %}
    <!-- Swap Transaction -->
    <div class="flex space-x-8">
      <div class="flex-col">
        <h2 class="mb-6">
          {{ transaction.receiver_member.full_name }} receives:
        </h2>
        <ul class="grid w-full gap-2 grid-cols-1 overflow-auto" style="max-height: 550px;">
          {% with initiator_details=transaction.transaction_details.all|get_details_filter_by_from_member:transaction.initiator_member %}
            {% for detail in initiator_details %}
              <li>
                  <div
                      class="inline-flex p-4 items-center w-full justify-between text-gray-500 bg-white border-2 border-gray-200 rounded-lg dark dark:border-gray-700 peer-checked:border-blue-600 dark:peer-checked:border-blue-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 dark:text-gray-400 dark:bg-gray-800 dark"
                  >
                    <div>
                        <div class="w-full text-lg font-semibold">{{ detail.book_listing.library_item.book.title }}</div>
                        <div class="w-full text-sm">Price: ${{ detail.book_listing.price }}</div>
                    </div>
                    <img src="{{ detail.book_listing.library_item.book.image_url }}" style="height: 100px" alt="No Image found"/>
                  </div>
              </li>
            {% endfor %}
          {% endwith %}
        </ul>
      </div>
      <div class="flex-col">
        <h2 class="mb-6">
           {{ transaction.initiator_member.full_name }} receives:
        </h2>
        {% with receiver_details=transaction.transaction_details.all|get_details_filter_by_from_member:transaction.receiver_member %}
          {% for detail in receiver_details %}
          <div
            class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg dark dark:border-gray-700 peer-checked:border-blue-600 dark:peer-checked:border-blue-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 dark:text-gray-400 dark:bg-gray-800 dark"
          >
            <div class="block flex">
              <div>
                <div class="w-full text-lg font-semibold">
                  {{ detail.book_listing.library_item.book.title }}
                </div>
                <div class="w-full text-sm">Price: ${{ detail.book_listing.price }}</div>
              </div>
              <img
                src="{{ detail.book_listing.library_item.book.image_url }}"
                alt="No Image found"
              />
            </div>
          </div>
          {% endfor %}
        {% endwith %}
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Action button / status result -->
  <!-- Only the user that can accept/reject the transaction should see the action buttons -->
  {% if transaction.receiver_member == user and transaction.transaction_status == 'Pending' %}
  <div class="flex flex-wrap gap-9 justify-center mt-4">
    <form
      class="inline"
      method="POST"
      action="{% url 'accept_transaction' transaction.id %}"
    >
      {% csrf_token %}
      <button
        type="submit"
        class="text-white bg-gradient-to-br from-green-600 to-green-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-xl text-md px-5 py-1.5 text-center"
      >
        Accept
      </button>
    </form>
    <form
      class="inline"
      method="POST"
      action="{% url 'reject_transaction' transaction.id %}"
    >
      {% csrf_token %}
      <button
        type="submit"
        class="text-white bg-gradient-to-br from-pink-600 to-pink-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-xl text-md px-5 py-1.5 text-center"
      >
        Reject
      </button>
    </form>
  </div>
  {% elif transaction.transaction_status == 'Pending' %}
  <div class="flex flex-wrap gap-9 justify-center mt-4">
    This transaction is {{ transaction.get_transaction_status_display }}
  </div>
  {% else %}
  <div class="flex flex-wrap gap-9 justify-center mt-4">
    This transaction was {{ transaction.get_transaction_status_display }}
  </div>
  {% endif %}
  <br>
  <div class="w-full max-w-4xl mx-auto mb-6 flex justify-center">
    <a href="{% url 'transactions_view' %}"
       class="bg-pink-400 text-white px-4 py-2 rounded-xl hover:bg-pink-500 transition text-center">
      Close
    </a>
  </div>
</div>

{% endblock %}
